
body {
    background-color: #000000;
    color: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

.container{
    background-color: #1f2937;
    padding: 40px;
    border-radius: 12px; 
    width: 360px;
}

header h1{
    font-size: 28px;
    margin-bottom: 8px;
}
header p{
    color: #94a3b8;
    font-size: 14px;
    margin-bottom: 28px;
}
.accent{
    color: #5eead4;
}

#generate-btn{
    width: 50%;
    background-color:#5eead4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #f8fafc;
}
#generate-btn:hover{
    opacity: 0.8;
}
.outputs{
    display: flex;
    gap: 16px;
}

.output-box{
    flex: 1;
    background-color: #020617;
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    height: 10px;
    color: #5eead4;
    line-height: 12px;
    font-family: monospace;
}
hr{
    border: none;
    height: 1px;
    background-color: #374151;
    margin: 24px 0;
}

